
  *,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width:100%;
  }
  .container-fluid {
    background: url("../images/swirlly.jpg");
  }

  .name{
    margin-top:3%;
    font-size:3em;

  }

  .name, .title {
    text-align:center;
    color:white;
    font-family: 'Quicksand', sans-serif;

  }

  /* SOCIAL BAR */

  ul > .social {
    margin-top:15%;
    margin-left: 25%;
  }

  .row-centered {
    text-align:center;
  }

  .col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right: -4px;
  }
  .social > li {
    margin-top:2%;
    margin-left: 2%;
    display:inline-block;
  }
  .social a {
    width: 100%;
    height: 5vh;
    display: inline-block;
    color:white;
    text-indent: -000em;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    background-position: center center;
    border: 0;
    -webkit-transition: all .2s ease-in-out;
  }
          /*ABOUT*/

  .row-about {
    width:100%;
    margin-top:6%;

  }

  .selfie  {
    margin-left: 15%;
    width:60%;
    border-radius:15px;
  }
  .me, .me-too, .and-me, .resume, {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.7em;
  }

  .me-too {
    margin-left: 3%;
  }

  .and-me {
    margin-left: 6%;
  }

  .resume {
    text-align: right;
    color: #ea3131;
  }


    /*WORK*/
  .me {
    width:100%;
}
  #container {
    background: urp("../images/gray.jpg");
  }
  .work {
    margin-top:5%;
    background: url("../images/gray.jpg");
    margin-bottom:5%;
    width:100%;
    text-align:center;
    font-size:1.5em;

    h2{
      font-family: 'Quicksand', sans-serif;
      color:white;
      text-shadow:0.1em 0.1em black;
      margin-top:2%;
      margin-bottom:2%;
    }
  }
  .project {
    margin-right:2%;

    img{
      box-shadow:10px 10px 5px #888888;
      border:2px solid white;
    }
  }

  .description {
    color:black;
    margin-top: 5%;
  }

   .icon > li {
    display:inline-block;
    color:black;
    margin-right:2%;
  }

  /*RESUME*/
  .school {
    font-size:1.2em;
  }

  .earn, .date {
    font-size: 1.0em;
  }

  #education {
    margin-left: 3%;
    text-align:left;
    font-size:1.5em;
  }


  .edu-list, {
    margin:0;
    list-style:none;
    display:inline-block;
  }

  .experience {
    list-style:none;
  }
  .place {
    text-align:left;
    margin-left:8%;
  }

  .task {
    text-align:left;
    margin-left:10%;
  }
  .detail {
    font-size: 1em;
    text-align:left;
    margin-left:10%;
  }

  #end {
    margin-bottom:5%;
  }
